# Geometric Mean

In [11]:
import numpy as np
import pandas as pd
from scipy.stats.mstats import gmean, hmean

In [13]:
data = [1, 3, 9, 27, 81]
data

[1, 3, 9, 27, 81]

In [14]:
gmean(data)

9.0000000000000018

In [27]:
perc = np.array([0.1,0.7,0.1,0.3], np.float64)

In [28]:
perc + 1

array([ 1.1,  1.7,  1.1,  1.3])

In [29]:
gmean(perc + 1) - 1

0.27877580607588737

In [32]:
gem = np.array([10, 70, 10, 30])
gem.mean()

30.0

# All Means Experiment

In [16]:
mydata = np.array([[10, 10],[50, 10],[90, 10]
                  , [10, 50],[50, 50],[90, 50]
                  , [10, 90],[50, 90],[90, 90]]
                  , np.float64)

pd_orig = pd.DataFrame(mydata, columns=['x1','x2'])
pd_means = pd_orig.copy()

pd_means['average'] = np.average(pd_orig, axis=1, weights=[0.7,0.3])
pd_means['mean'] = np.mean(pd_orig, axis=1)
pd_means['gmean'] = gmean(pd_orig, axis=1)
pd_means['hmean'] = hmean(pd_orig, axis=1)
pd_means

     x1    x2  average  mean      gmean      hmean
0  10.0  10.0     10.0  10.0  10.000000  10.000000
1  50.0  10.0     38.0  30.0  22.360680  16.666667
2  90.0  10.0     66.0  50.0  30.000000  18.000000
3  10.0  50.0     22.0  30.0  22.360680  16.666667
4  50.0  50.0     50.0  50.0  50.000000  50.000000
5  90.0  50.0     78.0  70.0  67.082039  64.285714
6  10.0  90.0     34.0  50.0  30.000000  18.000000
7  50.0  90.0     62.0  70.0  67.082039  64.285714
8  90.0  90.0     90.0  90.0  90.000000  90.000000

In [23]:
.7 * 50 + .3 * 90

62.0